.testi {
    color: #fd2d01;
}

.coloor {
    border-color:#192947;
}

.darkBlue{
    color: #192947;
}

.redBlood{
    color:#fd2d01;
}

.em {
    font-size: 1.2rem
}

.rem {font-size: 1.3rem}

.new {
    width: 400px
}

.padNone{
    padding:0
}

.none{
    text-decoration:none;
    list-style: none;

}